<main class="h-screen w-full flex flex-col gap-10 bg-zinc-900 text-white">
  <app-navbar></app-navbar>

  <div class="container flex-grow flex flex-col gap-10">
    <div class="flex items-center justify-between">
      <h2>Edit {{ movie.title }}</h2>
      <button (click)="goBack()" class="py-1 px-3 rounded bg-cyan-700">Go Back</button>
    </div>

    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()" class="rounded shadow-md">
      <div class="mb-4">
        <label for="title" class="block text-sm font-medium text-gray-500">Title</label>
        <input id="title" formControlName="title" type="text" class="main-input" />
      </div>

      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-500">Description</label>
        <textarea id="description" formControlName="description" class="main-input"></textarea>
      </div>

      <div class="mb-4">
        <label for="genre" class="block text-sm font-medium text-gray-500">Genre</label>
        <input id="genre" formControlName="genre" type="text" class="main-input" />
      </div>

      <div class="mb-4">
        <label for="imageUrl" class="block text-sm font-medium text-gray-500">Image url</label>
        <textarea id="imageUrl" formControlName="imageUrl" class="main-input"></textarea>
      </div>

      <div class="mb-4">
        <label for="releaseDate" class="block text-sm font-medium text-gray-500">Year</label>
        <input id="releaseDate" formControlName="releaseDate" type="text" class="main-input" />
      </div>

      <div class="mb-4">
        <label for="rating" class="block text-sm font-medium text-gray-500">Rating</label>
        <input id="rating" formControlName="rating" type="text" class="main-input" />
      </div>

      <div class="mb-4">
        <label for="country" class="block text-sm font-medium text-gray-500">Country</label>
        <input id="country" formControlName="country" type="text" class="main-input" />
      </div>

      <div class="mb-4">
        <label for="cast" class="block text-sm font-medium text-gray-500">Cast</label>
        <input id="cast" formControlName="cast" type="text" class="main-input" />
      </div>

      <button type="submit" [disabled]="movieForm.invalid" class="w-full bg-cyan-600 text-white py-2 px-4 rounded-md hover:bg-cyan-700">
        Update Movie
      </button>
    </form>
  </div>

</main>
