<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Movies</h1>
  <ul class="mb-4">
    <li *ngFor="let movie of movies" class="mb-2">
      <h2 class="text-xl font-semibold">{{ movie.title }}</h2>
      <p>{{ movie.description }}</p>
      <p><strong>Rating:</strong> {{ movie.rating }}</p>
    </li>
  </ul>

  <h2 class="text-xl font-bold mb-4">Add a New Movie</h2>
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded shadow-md">
    <div class="mb-4">
      <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
      <input id="title" formControlName="title" type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm" />
    </div>

    <div class="mb-4">
      <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
      <textarea id="description" formControlName="description" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"></textarea>
    </div>

    <div class="mb-4">
      <label for="imageUrl" class="block text-sm font-medium text-gray-700">imageUrl</label>
      <textarea id="imageUrl" formControlName="imageUrl" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"></textarea>
    </div>

    <div class="mb-4">
      <label for="rating" class="block text-sm font-medium text-gray-700">Rating</label>
      <input id="rating" formControlName="rating" type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm" />
    </div>

    <button type="submit" [disabled]="movieForm.invalid" class="w-full bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-700">
      Add Movie
    </button>
  </form>
</div>
